@media screen and (min-width:768px) and ( max-width:1024px){
    header {
        position: fixed;
        z-index: 10;
        background-color: #fadce1;
        width: 100%;
        height: 60px;
        top: 0;
    }
    .header-logo img {
        width: 100px;
        /* margin-right: 2%; */
        margin-top: 5px;
    }
    #home{
        background-color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        color: #ff1ec7;

    }
    #about{
        background-color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        color: #ff1ec7;

    }
    #news{
        background-color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        color: #ff1ec7;

    }
    #menu{
        background-color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        color: #ff1ec7;

    }
    #contact{
        background-color: white;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        color: #ff1ec7;
    }
    .pre{
        margin-top: 12px;
    }
    .pre p{
        font-size: 13px;
    }


    .top-container {
        width: 100%;
        height: 45vh;
        position: relative;
    }
    .thema {
        font-family: 'Lobster', cursive;
        position: absolute;
        font-size: 90px;
        top: 8%;
        left: 5%;
        z-index: 2;
        color: white;
    }
    .hand {
        font-size: 43px;
        color: white;
        margin-left: 4%;
    }
    .second-w {
        background-color: #888888;
        display: block;
        width: 100%;
        height: 45vh;
    }
    .text-right p {
        font-size: 15px;
        color: white;
    }
    .second-w h2 {
        font-family: 'Lobster', cursive;
        letter-spacing: 5px;
        font-size: 31px;
        color: white;
        padding-top: 55px;
        margin-left: 74%;
    }
    .third-w {
        background-color: #fadce1;
        width: 100%;
        height: 65vh;
    }
    #chi-video {
        top: 33%;
        left: 16%;
        z-index: 1;
        width: 400px;
        height: 200px;
    }
    .im2 {
        top: 12%;
        left: 37%;
        z-index: 2;
        width: 30%;
    }
    .im3 {
        top: 6%;
        right: 0%;
        z-index: 1;
        width: 370px;
    }
    .kokos-w {
        width: 100%;
        height: 98vh;
    }
    .block1 {
        position: absolute;
        top: 4%;
        font-size: 11px;
        font-family: serif;
        text-align: left;
        left: 12%;
        line-height: 200%;
        width: 33%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .block1 {
        position: absolute;
        top: 4%;
        font-size: 11px;
        font-family: serif;
        text-align: left;
        left: 12%;
        line-height: 200%;
        width: 33%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .block2 {
        position: absolute;
        top: 35%;
        font-size: 11px;
        font-family: serif;
        left: 47%;
        width: 30%;
        line-height: 200%;
        height: 16%;
        text-align: right;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .block3 {
        position: absolute;
        top: 68%;
        font-size: 11px;
        left: 15%;
        font-family: serif;
        line-height: 200%;
        text-align: left;
        width: 30%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }


    .fou-w {
        position: relative;
        width: 100%;
        height: 45vh;
        background-color: #fadce1;
    }
    .fou2 h1 {
        position: absolute;
        font-family: 'Lobster', cursive;
        font-size: 40px;
        letter-spacing: 8px;
        color: black;
        top: 43%;
        left: -12%;
        transform: rotate(90deg);
    }
    .table {
        position: absolute;
        top: 25%;
        width: 64%;
        left: 25%;
    }
    .table p {
        color: black;
        font-size: 14px;
        line-height: 78px;
        letter-spacing: 5px;
        border-bottom: 1px solid rgb(201, 146, 223);
        border-top: 1px solid rgb(201, 146, 223);
    }


    .fif-w {
        width: 100%;
        height: 105vh;
        position: relative;
    }
    .two {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 2px;
    }
    .v-two {
        position: absolute;
        left: 30%;
        top: 1%;
        z-index: 2;
    }
    .p-one {
        position: absolute;
        font-family: 'Lobster', cursive;
        top: 25%;
        left: 41%;
        margin-top: 50px;
        font-size: 85px;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    .p-two {
        position: relative;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        left: 0%;
        top: 10%;
        font-size: 80px;
        letter-spacing: 0px;
        z-index: 3;
        color: #ff1ec7;
    }
    .three {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 20%;
    }
    .p-three {
        position: absolute;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        font-size: 80px;
        left: 46%;
        top: 46%;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    .contact-w {
        width: 100%;
        height: 45vh;
        background-color: #fadce1;
    }
    .con-p {
        position: absolute;
        font-size: 18px;
        left: 30%;
        top: 40%;
    }
    .con-right input {
        background-color: #fadce1;
        border: none;
        margin-top: 8%;
        width: 61%;
        border-bottom: 2px solid palevioletred;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    textarea {
        width: 95%;
        background-color: #fadce1;
        border: none;
        margin-top: 32px;
        height: 20%;
        border-bottom: 2px solid palevioletred;
    }
    .con-right button {
        width: 35%;
        height: 57px;
        margin-top: 24px;
        left: 30%;
        border: 2px solid palevioletred;
    }
}

@media screen and (max-width:780px){

    .pre{
        display: none;
    }
    .add{
        position: relative;
        height: 600px;
        margin-bottom: 50px;
    }
    .add img{
        top: 0%;
        width: 100%;
        left: 0;
        right: unset;
    }
    .add>p{
        top: 50%;
        right: 0;
        left: unset;
    }
    .add>div{

        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        text-align: left;
        width: 90%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
    .add>div h1,.add>div p{
        margin: 50px 10%;
    }
    .thema {
        font-family: 'Lobster', cursive;
        position: absolute;
        font-size: 66px;
        top: 5%;
        left: 9%;
        z-index: 2;
        color: white;
    }
    .top-container {
        width: 100%;
        height: 44vh;
        position: relative;
    }
    .v-two {
        position: absolute;
        left: 11%;
        top: 1%;
        z-index: 2;
    }
    .p-three {
        position: absolute;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        font-size: 80px;
        left: 30%;
        top: 46%;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    .hand {
        font-size: 35px;
        color: white;
        margin-left: 4%;
    }
    .text-right p {
        font-size: 10px;
        color: white;
    }
    
    .second-w h2 {
        font-family: 'Lobster', cursive;
        letter-spacing: 5px;
        font-size: 23px;
        color: white;
        padding-top: 39px;
        margin-left: 74%;
    }
    .second-w {
        background-color: #888888;
        display: block;
        width: 100%;
        height: 42vh;
    }
    .third-w {
        background-color: #fadce1;
        width: 100%;
        height: 83vh;
    }
    .fif-w {
        width: 100%;
        height: 138vh;
        position: relative;
    }
    .contact-w {
        width: 100%;
        height: 56vh;
        background-color: #fadce1;
    }
    .kokos-w {
        width: 100%;
        height: 190vh;
    }
    .block1 {
        position: absolute;
        top: 4%;
        font-size: 11px;
        font-family: serif;
        text-align: left;
        left: 12%;
        line-height: 150%;
        width: 33%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 8px;
    }
    .block2 {
        position: absolute;
        top: 35%;
        font-size: 11px;
        font-family: serif;
        left: 47%;
        width: 30%;
        line-height: 135%;
        height: 16%;
        text-align: right;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 6px;
    }
    .block3 {
        position: absolute;
        top: 68%;
        font-size: 11px;
        left: 15%;
        font-family: serif;
        line-height: 133%;
        text-align: left;
        width: 30%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 13px;
    }
    .number2 {
        position: absolute;
        z-index: 3;
        font-family: 'Lobster', cursive;
        top: 31%;
        left: 51%;
        font-size: 47px;
        color: rgb(255, 60, 167);
    }
    .number1 {
        position: absolute;
        z-index: 3;
        font-family: 'Lobster', cursive;
        top: 20px;
        left: 40%;
        font-size: 47px;
        color: rgb(255, 60, 167);
    }
    .number3{
        font-size: 47px;
        left: 48%;
    }
    .table p {
        color: black;
        font-size: 10px;
        line-height: 61px;
        letter-spacing: 5px;
        border-bottom: 1px solid rgb(201, 146, 223);
        border-top: 1px solid rgb(201, 146, 223);
    }
    .con-p {
        position: absolute;
        font-size: 14px;
        left: 30%;
        top: 40%;
    }
    .con-right button {
        width: 42%;
        height: 57px;
        margin-top: 24px;
        left: 17%;
        border: 2px solid palevioletred;
    }
    
}




@media screen and (max-width:480px){
    nav{
        display: none;
    }
    .header-logo{
        margin: 0 auto;
    }
    .header-logo img {
        width: 87px;
        margin-right: 0px;
        margin-top: 17px;
    }
    span{
        display: none;
    }
    #home {
        background-color: white;
        border: none;
        font-family: 'Lobster', cursive;
        outline: none;
        font-size: 13px;
        margin-right: 2px;
        cursor: pointer;
    }
    #about {
        background-color: white;
        border: none;
        font-family: 'Lobster', cursive;
        outline: none;
        font-size: 13px;
        margin-right: 2px;
        cursor: pointer;
    }
    #news {
        background-color: white;
        border: none;
        font-family: 'Lobster', cursive;
        outline: none;
        font-size: 13px;
        margin-right: 2px;
        cursor: pointer;
    }
    #menu {
        background-color: white;
        border: none;
        font-family: 'Lobster', cursive;
        outline: none;
        font-size: 13px;
        margin-right: 2px;
        cursor: pointer;
    }
    #contact {
        background-color: white;
        border: none;
        font-family: 'Lobster', cursive;
        outline: none;
        font-size: 13px;
        margin-right: 2px;
        cursor: pointer;
    }
    .top-container video {
        position: absolute;
        width: 87%;
        top: 28%;
        left: 12%;
    }
    .pre{
        display: none;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
    .top-container {
        width: 100%;
        margin-top: 70px;
        height: 65vh;
    }
    
    .hand {
        font-size: 20px;
        color: white;
        margin-left: 4%;
    }
    .thema {
        font-family: 'Lobster', cursive;
        position: absolute;
        font-size: 67px;
        top: -9%;
        left: 5%;
        z-index: 2;
        color: white;
    }
    .second-w h2 {
        font-family: 'Lobster', cursive;
        letter-spacing: 5px;
        font-size: 10px;
        color: white;
        padding-top: 0px;
        margin-left: 64%;
    }
    .second-w {
        background-color: #888888;
        display: block;
        width: 100%;
        height: 50vh;
    }
    .im3 {
        top: 90px;
        right: 0%;
        z-index: 1;
        width: 129px;
    }
    .im7 {
        top: 64%;
        left: 5%;
        width: 50%;
    }
    .red {
        position: absolute;
        z-index: 2;
        top: -13%;
        left: 0%;
        width: 60%;
    }
    .sebas {
        position: absolute;
        top: 72%;
        left: 2%;
        z-index: 1;
        width: 60%;
    }
    .text-right {
        width: 75%;
    }
    .third-w {
        background-color: #fadce1;
        width: 100%;
        height: 73vh;
    }
    #chi-video {
        top: 33%;
        left: 18%;
        z-index: 1;
        width: 65%;
        height: 200px;
    }
    .im2 {
        top: 12%;
        left: 38%;
        z-index: 2;
        width: 30%;
    }
    .im4 {
        top: 44%;
        left: 65%;
        z-index: 2;
        width: 30%;
    }
    
    .text-con {
        position: relative;
        width: 96%;
        height: 100%;
        margin: 0 auto;
        /* margin-top: 100px; */
    }
    .blo1,.blo2,.blo3{
        font-size: 3px;
    }
    
    .block3 {
        position: absolute;
        top: 68%;
        font-size: 11px;
        left: 15%;
        font-family: serif;
        line-height: 200%;
        text-align: left;
        width: 19%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .fou-w {
        position: relative;
        width: 100%;
        height: 66vh;
        background-color: #fadce1;
    }
    .fou2 h1 {
        position: absolute;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        letter-spacing: 8px;
        color: black;
        top: 43%;
        left: -18%;
        transform: rotate(90deg);
    }
    .table p {
        color: black;
        font-size: 2px;
        line-height: 27px;
        font-weight: bold;
        /* letter-spacing: 7px; */
        border-bottom: 1px solid rgb(201, 146, 223);
        border-top: 1px solid rgb(201, 146, 223);
    }


    .fif-w {
        width: 100%;
        height: 137vh;
        position: relative;
    }
    .v-two {
        left: 34%;
        top: -10%;
    }
    .p-one {
        position: absolute;
        font-family: 'Lobster', cursive;
        top: 12%;
        left: 23%;
        margin-top: 50px;
        font-size: 40px;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    .p-two {
        position: relative;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        left: -5%;
        /* top: 10%; */
        font-size: 40px;
        letter-spacing: 0px;
        z-index: 3;
        color: #ff1ec7;
    }
    .p-three {
        position: absolute;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        font-size: 40px;
        left: 30%;
        top: 27%;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    .contact-w {
        width: 100%;
        height: 58vh;
        background-color: #fadce1;
    }
    .con-right {
        width: 45%;
        height: 53%;
    }
    input {
        background-color: #fadce1;
        border: none;
        margin-top: 5%;
        width: 68%;
        border-bottom: 2px solid palevioletred;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .contact-con img {
        width: 99%;
    }
    .con-p {
        position: absolute;
        font-size: 18px;
        left: 30%;
        top: 40%;
    }
    .main-button {
        width: 40%;
        top: -21%;
        position: relative;
    }
    textarea {
        width: 95%;
        background-color: #fadce1;
        border: none;
        margin-top: 18px;
        height: 20%;
        font-size: 11px;
        border-bottom: 2px solid palevioletred;
    }
    .con-right button {
        width: 60%;
        height: 43px;
        margin: 0px;
        font-size: 12px;
        margin-top: 4px;
        /* left: 23%; */
        border: 2px solid palevioletred;
    }
}





@media screen and (max-width:380px){
    .top-container {
        width: 100%;
        height: 44vh;
        position: relative;
    }
    .blo1,.blo2,.blo3{
        display: none;
    }
    
    .top-container video {
        position: absolute;
        width: 91%;
        top: 28%;
        left: 8%;
    }
    .hand {
        font-size: 17px;
        color: white;
        margin-left: 4%;
    }   
    .thema {
        font-family: 'Lobster', cursive;
        position: absolute;
        font-size: 47px;
        top: 1%;
        left: 5%;
        z-index: 2;
        color: white;
    }
    input {
        background-color: #fadce1;
        border: none;
        margin-top: 5%;
        width: 50%;
        height: 6%;
        border-bottom: 2px solid palevioletred;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    

    
    .second-w {
        background-color: #888888;
        display: block;
        width: 100%;
        height: 46vh;
    }
    .text-right p {
        font-size: 3px;
        color: white;
        font-weight: bold;
    }
    .third-w {
        background-color: #fadce1;
        width: 100%;
        height: 50vh;
    }
    .add{
        height: 450px;
    }
    .fou-w {
        position: relative;
        width: 100%;
        height: 65vh;
        max-height: 391px;
        background-color: #fadce1;
    }
    .fou2 h1 {
        position: absolute;
        font-family: 'Lobster', cursive;
        font-size: 16px;
        letter-spacing: 8px;
        color: black;
        top: 43%;
        left: -22%;
        transform: rotate(90deg);
    }
    .table {
        position: absolute;
        top: 22%;
        width: 66%;
        left: 30%;
    }
    .v-one{
        margin: 0px;
    }
    .fif-w {
        width: 100%;
        height: 160vh;
        position: relative;
    }
    .contact-w {
        width: 100%;
        height: 56vh;
        max-height: 386px;
        background-color: #fadce1;
    }
    .con-p {
        position: absolute;
        font-size: 10px;
        left: 30%;
        top: 40%;
    }
    .v-two {
        position: absolute;
        left: 25%;
        top: 110%;
        z-index: 2;
    }
    .con-right {
        width: 54%;
        height: 70%;
    }
    .one {
        position: relative;
        display: flex;
        top: 6%;
        justify-content: space-between;
    }
    .three {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 35%;
    }
    .number1 {
        position: absolute;
        z-index: 3;
        font-family: 'Lobster', cursive;
        top: 20px;
        left: 40%;
        font-size: 30px;
        color: rgb(255, 60, 167);
    }
    .number2 {
        position: absolute;
        z-index: 3;
        font-family: 'Lobster', cursive;
        top: 31%;
        left: 51%;
        font-size: 30px;
        color: rgb(255, 60, 167);
    }
    .number3{
        font-size: 30px;
    }
    .block3 {
        position: absolute;
        top: 68%;
        font-weight: bold;
        font-size: 11px;
        left: 15%;
        font-family: serif;
        line-height: 200%;
        text-align: left;
        width: 0%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .block1 {
        position: absolute;
        top: 4%;
        font-family: serif;
        text-align: left;
        left: 12%;
        font-weight: bold;
        line-height: 200%;
        width: 0%;
        height: 16%;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        font-size: 11px;
        padding-top: 30px;
    }
    .block2 {
        position: absolute;
        top: 35%;
        font-size: 11px;
        font-family: serif;
        left: 30%;
        width: 0%;
        font-weight: bold;
        line-height: 200%;
        height: 16%;
        text-align: right;
        background-color: #fadce1;
        color: black;
        padding: 0 70px;
        padding-top: 30px;
    }
    .p-three {
        position: absolute;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        font-size: 40px;
        left: 13%;
        top: 27%;
        letter-spacing: 5px;
        color: #ff1ec7;
    }
    
    
    .two {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 60px;
    }
    .con-right button {
        width: 62%;
        height: 40px;
        margin-top: 18px;
        /* left: 18%; */
        border: 2px solid palevioletred;
    }
    .contact-con img {
        width: 100%;
    }
    
}


@media screen and (max-width:360px){
    .kokos-w {
        height: 240vh;
    }
} 